{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{%- block description -%}

{%- endblock -%}

{%- block javascripts -%}
    {{ importmap() }}
{%- endblock -%}

{%- block stylesheets -%}
    <link rel="stylesheet" href="{{ asset('styles/login.scss') }}">
{%- endblock -%}

{% block body %}
    <form
            {{ stimulus_controller('@web-auth/webauthn-stimulus',
                {
                    requestResultUrl: path('webauthn.controller.request.response.login'),
                    requestOptionsUrl: path('webauthn.controller.request.request.login'),
                    requestSuccessRedirectUri: webauthnCallback
                }
            ) }}
    >
        <a class="action-button" href="{{ path('login_google', {callback : googleCallback}) }}">Google</a>
        <button class="action-button"
                type="submit"
                {{ stimulus_action('@web-auth/webauthn-stimulus', 'signin') }}
        >
            Webauth Key
        </button>
    </form>
{% endblock %}
